
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E;
    background-color: #F4F4F4;
}

header {
    background-color: #FFEFBB;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 1.5em;
}

nav a {
    text-decoration: none;
    color: #3E3E3E;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 1.8em;
    color: #F2B705;
}


.logo img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}


.btn-register {
    background-color: #F2B705;
    color: #FFF;
    padding: 0.5em 1em;
    border-radius: 5px;
}

#hero {
    display: flex;
    align-items: center;
    padding: 2em;
    background-color: #FFEFBB;
}

.hero-content {
    max-width: 600px;
    padding: 1em;
}

#hero h2 {
    font-size: 2.5em;
    color: #8C451C;
}

#hero p {
    font-size: 1.2em;
    margin: 1em 0;
}

#hero img {
    width: 600px;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}


.btn-main {
    background-color: #6E59D9;
    color: #FFF;
    padding: 0.7em 1.5em;
    border-radius: 5px;
    text-decoration: none;
}

#about, #commitment {
    padding: 2em;
    text-align: center;
    background-color: #F4F4F4;
}

h3 {
    font-size: 2em;
    color: #F2B705;
    margin-bottom: 0.5em;
}

#services {
    padding: 2em;
    background-color: #E0E0E0;
    text-align: center;
}

.service-cards {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.service-card {
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1em;
    width: 300px;
    text-align: left;
}

.service-card img {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0;
}

.service-card h4 {
    font-size: 1.5em;
    color: #6E59D9;
    margin: 0.5em 0;
}

#contact {
    padding: 2em;
    text-align: center;
    background-color: #FFF;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    gap: 1em;
}

input, textarea {
    padding: 0.8em;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
}

.btn-submit {
    background-color: #6E59D9;
    color: #FFF;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #3E3E3E;
    color: #FFF;
    font-size: 0.9em;
}